<!DOCTYPE html>
<html>
  <head>
  {% extends "layout.html" %}
  {% block title %}Settings{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% block content %}
  </head>
  <body>

  <form >
<fieldset>

<legend>Main Settings</legend>



<div>
  <label>E-mail</label>
  <div>
  <input id="email" name="email" type="text" placeholder="example@mail.com">
  </div>
</div>



<div>
  <label>Language</label>
  <div>
    <select  name="Country">
      <option value="turkiye">Turkiye</option>
      <option value="us">US</option>
      <option value="uk">UK</option>
      <option value="sweden">Sweden</option>
      <option value="morocco">Morocco</option>
    </select>
  </div>
</div>

<div>
  <label >Update Password</label>
  <div>
  <input  name="password" type="password" placeholder="password" >
  <input  name="password2" type="password" placeholder="again" >
  <button  name="btn_register"  type="submit"> Update </button>
  </div>
</div>




</fieldset>
</form>


    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
    {% endblock %}
  </body>
</html>
