{% extends "layout.html" %}
{% block title %}Add Tweet{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Add Tweet</h1>
      </div>

      <form role="form" action="" method="post" name="add_twit"
            class="form-horizontal">
        <div class="form-group">
          <label for="title" class="control-label col-sm-2">Title:</label>
          <div class="col-sm-10">
            <input type="text" name="title" size="15" required autofocus />
          </div>
        </div>

        <div class="form-group">
          <label for="content" class="control-label col-sm-2">Content:</label>
          <div class="col-sm-10">
            <input type="text" name="content" maxlength="140" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="save"
                    class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
{% endblock %}