{% extends "layout.html" %}
{% block title %}CREDIT{% endblock %}
{% block content %}
      <div class="page-header">
        <h3>Add-Send Credit</h3>

        <font size="2">You currently have {{ credits.cash }} credits</font>

      </div>

      <form role="form" action="" method="post" name="add_credit"
            class="form-horizontal">
        <div class="form-group">
          <label for="value" class="control-label col-sm-1">Value:</label>
          <div class="col-sm-10">
          &nbsp&nbsp&nbsp
            <input type="text" name="value" size="10" maxlength="4" required autofocus />
          </div>
        </div>

        <div class="form-group">
          <label for="holder" class="control-label col-sm-1">Holder:</label>
          <div class="col-sm-10">
          &nbsp&nbsp&nbsp
            <input type="text" size="16" name="holder" maxlength="20" />
          </div>
        </div>

        <div class="form-group">
          <label for="cardid" class="control-label col-sm-1">CardNum:</label>
          <div class="col-sm-10">
          &nbsp&nbsp&nbsp
            <input type="text" size="16" name="cardid" maxlength="6" />
          </div>
        </div>

        <div class="form-group">
          <label for="expmon" class="control-label col-sm-1">Month/Year/CVV:</label>
          <div class="col-sm-10">
          &nbsp&nbsp&nbsp
            <input type="text" size="2" name="expmon" maxlength="2" />
            <input type="text" size="2" name="expyear" maxlength="2" />
            <input type="text" size="4" name="cvv" maxlength="4" />
        </div>

		<br>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
          <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button type="submit" name="add"
                    class="btn btn-primary">Add</button>

            <button type="submit" name="send"
                    class="btn btn-primary">Send</button>
          </div>

        </div>
      </form>
		<br>
      <font size="2">You can use your {{ credits.cash }} credits for in site advertisement for your profile or your tweets</font>

{% endblock %}