{% extends "layout.html" %}
{% block title %}Manage Gifts{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Gifts</h1>
      </div>


		<h4>Send Gift</h4>
      <form role="form" action="/gifts" method="POST" name="add_gift"
            class="form-horizontal">
      {{ sendform.csrf_token }}

        <div class="form-group">
          <div class="col-sm-2">
          {{ sendform.gifts(class='form-control', style='width:auto',id='gifts') }}
          </div>

        </div>
       	<div class="form-group">
          <div class="col-sm-2">
          {{ sendform.sendto(class='form-control', style='width:auto', id='description') }}
          </div>

        </div>

        <div class="form-group">
          <div class="col-sm-2">
            <button type="submit" name="btn" value="send"
                    class="btn btn-success">Send Gift</button>
          </div>
        </div>
      </form>

	<hr/>

	<div style="padding-top: 0px">
	<div style="display: inline-block; width: auto; height: auto; vertical-align: top">
	<h4>Received gifts</h4>
	{% for sendername, sendernick, giftname, description, time in receivedgifts %}
	<p>Sent by: {{sendernick}} (<a style="color: #666666; font-style:italic" href="../profile/{{sendername}}">@{{sendername}}</a>)<br>Gift: {{giftname}}<br>Description: {{description}}<br>Sent: {{time}}</p>
	<br>
	{%endfor%}
	</div>
	<div style="display: inline-block; width: auto; height: auto; vertical-align: top; margin-left: 50px">
	<h4>Sent gifts</h4>
	{% for sendername, sendernick, giftname, description, time in sentgifts %}
	<p>Sent to: {{sendernick}} (<a style="color: #666666; font-style:italic" href="../profile/{{sendername}}">@{{sendername}}</a>)<br>Gift: {{giftname}}<br>Description: {{description}}<br>Sent: {{time}}</p>
	<br>
	{%endfor%}
	</div>
	</div>
	<hr>
	<form role="form" action="/gifts" method="POST" name="gifts"
            class="form-horizontal">
	{%if sentgifts%}
	<div class="form-group">
          <div class="col-sm-2">
            <button type="submit" name="btn" value="delete"
                    class="btn btn-danger">Delete all gifts</button>
          </div>
    </div>
    {%endif%}
    </form>




{% endblock %}
