  {% extends "layout.html" %}
  {% block title %}My twitss{% endblock %}
    {% block content %}

<style>
#twittit{
	padding-top: 10px;
}

#twitcon{
	width: 300px;
	word-wrap: break-word;
}

#twitwrapper{
	display:inline-block;
	border-radius: 35px;
    padding: 10px;
    background: #659bf2;
    width: 350px;
}

#twitwrapperrt{
	display:inline-block;
	border-radius: 35px;
    padding: 10px;
    background: #8ab3f2;
    width: 350px;
}
</style>
<body>
        {% if twits.isrt == 0%}

		<div>
		<h4>
		<a d="twitstit"; style="color: black" style="text-decoration: none" href="{{ url_for('twits_page', twit_id=twits.twitid ) }}">
		{{ twits.title }}</a>
		<a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twits.userhandle ) }}">
		<font size="1">-{{ twits.userhandle }}</font></a><br>
		<font size="4" style="color: grey" id="twitscon"> {{ twits.context }}</font><br>
		<font size="2">Likes({{ twits.numberoflikes }})</font>&nbsp&nbsp<font size="2">RT({{ twits.numberofrts }})</font>
		</h4>
		</div>
		<br><br>

		{% else %}
		<div>
		<font size="2">This Tweet is Retweeted by
		<a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twits.rtowner ) }}">
		{{twits.rtowner}}</font></a>
		<h4>
		<a d="twitstit"; style="color: black" style="text-decoration: none" href="{{ url_for('twits_page', twit_id=twits.twitid ) }}">
		{{ twits.title }}</a>
		<a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twits.userhandle ) }}">
		<font size="1">-{{ twits.userhandle }}</font></a><br>
		<font size="4" style="color: grey" id="twitscon"> {{ twits.context }}</font><br>
		<font size="2">Likes({{ twits.numberoflikes }})</font>&nbsp&nbsp<font size="2">RT({{ twits.numberofrts }})</font>
		</h4>
		</div>
		<br><br>

		{% endif %}

		<form novalidate="novalidate" role="form" action="" method="post" name="twits-form">

			<button type="submit" name="submit" class="btn btn-success" value="retweet">ReTweet</button>
			{%if isTweetLiked==1%}
			<button type="submit" name="submit" class="btn btn-primary" value="unliketweet">Unlike</button>
			{%else%}
			<button type="submit" name="submit" class="btn btn-primary" value="liketweet">Like</button>
			{%endif%}
        </form>
        </body>
{% endblock %}