{% extends "layout.html" %}
{% block title %}Feed{% endblock %}
{% block content %}

<style>
#twittit{
	padding-top: 15px;
	padding-bottom: 10px;
	width: 250px;
	height: 20px;
	size="3";
}

#twitcon{
	width: 425px;
	height: 10px;
	size="2";
	word-wrap: break-word;
}
</style>

	<body>

	<h2>Welcome, {% if username %}{{username}}{% else %}User{% endif %}</h2>
    <h1>My Twitter Feed..</h1>

        {% for twit in twits %}
      	<p align="middle">
       	<p align="middle">
       	<h4>
       	<font size="1" align="middle">{{ twit.twitid }}</font>
       	<a d="twittit"; style="color: black" style="text-decoration: none" href="{{ url_for('twits_page', twit_id=twit.twitid ) }}">
		{{ twit.title }}</a><a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twit.userhandle ) }}"><font size="1">-{{ twit.userhandle }}</font></a></h4>
		<h4 style="color: grey">
		<p id="twitcon"> {{ twit.context }}</p>
		</h4>
		</p>
		<br>
		{% endfor %}

	</body>
{% endblock %}

