{% extends "layout.html" %}
{% block title %}Feed{% endblock %}
{% block content %}

<style>
#twittit{
	padding-top: 15px;
	padding-bottom: 10px;
	width: 250px;
	height: 20px;
	size="3";
}

#twitcon{
	width: 350px;
	height: 10px;
	size="2";
	word-wrap: break-word;
}

#twitwrapper{
	border-radius: 25px;
    background: #3d3d5c;
    padding: 20px;
    width: 400px;
    height: 250px;
}
</style>

	<body>

	<h2>Welcome {% if username %},{{username}}{% else %}{% endif %}</h2>
    <h3>My Twitter Feed...</h3>

        {% for twit in twits %}
		<div id="twitwrapper">
      	<p align="middle">
       	<p align="middle">
       	<h4>
       	<font size="1" align="middle">{{ twit.twitid }}</font>
       	<a d="twittit"; style="color: black" style="text-decoration: none" href="{{ url_for('twits_page', twit_id=twit.twitid ) }}">
		{{ twit.title }}</a><a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twit.userhandle ) }}"><font size="1">-{{ twit.userhandle }}</font></a></h4>
		<h4 style="color: grey">
		<p id="twitcon"> {{ twit.context }}</p>
		</h4>
		</p>
		<br><br><br><br><br>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<font size="1" align="middle">{{ twit.numberoflikes }}</font>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp
		<font size="1" align="middle">{{ twit.numberofrts }}</font>
		<br>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button type="submit" name="like" class="btn btn-primary" value="{{ twit.twitid }}">Like</button>
		<button type="submit" name="rt" class="btn btn-primary" value="{{ twit.twitid }}">ReTweet</button>
		</div>
		<br>
		{% endfor %}

	</body>
{% endblock %}

