<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Twitter - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}"  />
  </head>
  <body>
	<header>
      <nav>
      <ul>
  		<li><a class="active" href="{{ url_for('site.home_page') }}">Home</a></li>
  		<li><a href="{{ url_for('site.twit_page') }}">My Tweets</a></li>
  		<li><a href="{{ url_for('site.twit_add_page') }}">Post a Tweet</a></li>
  		<li><a href="{{ url_for('site.messages_page') }}">Messages</a></li>
  		<li><a href="{{ url_for('site.settings_page') }}">Settings</a></li>
  		<li><a href="#contact">Contact</a></li>
 	 	<li><a href="#about">About</a></li>
	</ul>


      </nav>
    </header>



    {% block content %}{% endblock %}

    <footer>
      &copy; 2016, itucsdb1616
    </footer>
  </body>
</html>