{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}
{% block content %}
<style>
#twittit{
	padding-bottom: 10px;
	width: 150px;
	height: 20px;
}

#twitcon{
	padding-bottom: 24px;
	width: 425px;
	height: 20px;
	word-wrap: break-word;
}

</style>

	<body>

		{% for link in links %}
      	<p align="left">
       	<p align="left">
       	<h4>
       	<input type="radio" name="sbutton" value="{{ link.tweetlid }}">
       	<a style="color: black" style="text-decoration: none" href="{{link.contextl}}">
		{{ link.contextl }}</a>
		</h4>
		</p>
		<br>
		{% endfor %}

		<form novalidate="novalidate" role="form" action="" method="post" name="link-form">

      <input type="text" formnovalidate name="linked" size ="20" placeholder="New Link" required autofocus/>


        <br><br>
            <button type="submit" name="submit" class="btn btn-primary" value="addlink">Add Link</button>
            <button type="submit" name="submit" class="btn btn-success" value="updatelink">Update Link</button>
            <button type="submit" name="submit" class="btn btn-danger" value="deletelink">Delete Link!</button>
        </form>
        </body>
{% endblock %}