{% extends "layout.html" %}
{% block title %}List{% endblock %}
{% block content %}
<body>
<h2 align="center">Listname:<strong>{{listname}}</strong></h2>

	<form align="center" role="form" action="" method="post" name="list-form">

		{% if isSubscriber == 1%}
       <button class="btn  btn-danger" type="submit" name="submit" value="unsubscribe">Unsubscribe</button>
        {%else %}
        <button class="btn  btn-success" type="submit" name="submit" value="subscribe">Subscribe</button>
        {%endif%}
        </form>
        <br>
        <br>
        <br>
              {%if tweets %}
        {%for username,tweetcontent,tweettitle in tweets %}
        <p align="center"> User:{{username}} Context:{{tweetcontent}} Title:{{tweettitle}}</p>
        <hr>
        {% endfor %}
        {%else%}
      <p align="center"> There are no tweets in this list. </p>
      {%endif %}
</body>

 {% endblock %}