{% extends "layout.html" %}
{% block title %}List{% endblock %}
{% block content %}
<body>
<p align="center"><strong>{{listname}}  List </strong></p>

<br>
	<form align="center" role="form" action="" method="post" name="list-form">

      <input type="text" name="listname" size ="15" placeholder="Write the name of the list"required autofocus/>
            <button type="submit" name="submit" value="update">Change Name</button>
    		<button type="submit" name="submit" value="insider">Add Insider</button>

     </form>
	<br>

     <form align="center" role="form" action="" method="post" name="delete-form">
	<button type="submit" value="delete" name="submit">Delete The List</button>
     </form>

        <br>
        <br>
        <br>
                    {%if tweets %}
        {%for username,tweetcontent,tweettitle in tweets %}
        <p align="center"> User:{{username}} Context:{{tweetcontent}} Title:{{tweettitle}}</p>
        <hr>
        {% endfor %}
        {%else%}
      <p align="center"> There are no tweets in this list. </p>
      {%endif %}
</body>

 {% endblock %}