{% extends "layout.html" %}
{% block title %}Manage Applications{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Manage Applications</h1>
      </div>


		<h4>Add Application</h4>
      <form role="form" action="/manageapps" method="POST" name="add_app"
            class="form-horizontal">
      {{ form.csrf_token }}

        <div class="form-group">
          <div class="col-sm-2">
          {{ form.appname(autofocus=True,
                           id='appname', class='form-control',
                           placeholder='App Name') }}
          </div>

        </div>
        {% for error in form.appname.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

        <div class="form-group">
          <div class="col-sm-2">
            <button type="submit" name="btn" value="add"
                    class="btn btn-primary">Add</button>
            <button type="submit" name="btn" value="add_act"
            		class="btn btn-primary">Add and activate</button>
          </div>
        </div>
      </form>

		<hr/>

		<h4>Delete/Dectivate applications</h4>
      <form role="form" action="/manageapps" method="POST" name="update_app"
            class="form-horizontal">
      {{ form2.csrf_token }}

        <div class="form-group">

          <div class="col-sm-2">
          {{ form2.activeapps(id='activeapps') }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
          {{ form2.activeradio(id='activeradio') }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <button type="submit" name="btn" value="update"
                    class="btn btn-primary">Delete/Deactivate</button>
          </div>
        </div>
        </form>

        <hr/>


		<h4>Delete/Activate applications</h4>
		<form role="form" action="/manageapps" method="POST" name="update_app"
            class="form-horizontal">
      {{ form3.csrf_token }}
        <div class="form-group">
          <div class="col-sm-2">
          {{ form3.deactiveapps(id='deactiveapps') }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
          {{ form3.deactiveradio(id='deactiveradio') }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2">
            <button type="submit" name="btn" value="update2"
                    class="btn btn-primary">Delete/Activate</button>
          </div>
        </div>
      </form>


{% endblock %}