{% extends "layout.html" %}
{% block title %}Media{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Media</h1>
      </div>
      <div action="/media" role="form" action="" method="post" name="addmedia">
	  <a href="{{ url_for('newphoto_page') }}"style="text-decoration:none">
      <button type="submit" name="add"
                class="btn btn-primary btn-success">Add Photo</button>
      </div></a><br>

      <div role="form" action="" method="post">
      <a href="{{ url_for('updatemedia_page') }}"style="text-decoration:none">
      <button type="submit" name ="operation" value="update"
                class="btn btn-primary">Update Photo</button>
      </div><br>

      <div role="form" action="" method="post">
      <a href="{{ url_for('tag_page') }}"style="text-decoration:none">
      <button type="submit" name ="operation" value="tag"
                class="btn btn-primary">Tag!</button>
      </div><br>

      <form role="form" action="/media" method="post">
      <div role="form" action="" method="post">
      <button type="submit" name ="operation" value="delete"
                class="btn btn-primary btn-danger">Delete</button>
      </div>

      {% for photo_id, media in media %}
       <br><hr>
      <input type="checkbox" name="media" value="{{photo_id}}">
		{{media.description}} <br>
		<a href="{{media.url}}">
		<img src="{{media.url}}" style="width:200px;height:200px;"></a><br>
		<p>Taged users:
		{% for photoid, tag in tagList %}
		{% if photoid == photo_id %}
			{{ tag }}
		{%endif%}
		{% endfor %}
		</p>


      {% endfor %}
      </form>


{% endblock %}