<!DOCTYPE html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<title>Itucsdb1616 - Member Of Lists</title>
<html>
{% extends "layout.html" %}
{% block title %}Add Tweet{% endblock %}
{% block content %}
  <body>
	<br>
	<br>

   <div>
   <ul id="listoflisttitles">
   	<li><a href="{{ url_for('site.subscribelists_page') }}">Subscribed to</a></li>
   	<li style:"color:#FFFF;">Member of </li>

   </ul>
   </div>
<br>
<br>


<ul id="all_of_the_lists_subscribed_or_member_of">
<li>First list</li>
<li> Second list</li>
<li> Third list</li>
</ul>
<br>
<br>
</div>

  </body>
  {% endblock %}
</html>