{% extends "layout.html" %}
{% block title %}Member Of Lists{% endblock %}
{% block content %}
  <body>
	<br>
	<br>
	<form align="center" role="form" action="" method="post" name="list-form">

      <input type="text" name="listname" size ="15" placeholder="Write the name of the list" required autofocus/>
            <button  type="submit" name="submit" value="add">Add List</button>
        </body>
        </form>
    <br>
    <br>

   <div>
   <ul id="listoflisttitles">
   	<li><a href="{{ url_for('subscribelists_page') }}">Subscribed to</a></li>
   	<li style:"color:#FFFF;">Member of </li>
     <li style:"color:#FFFF;"><a href="{{ url_for('createdlists_page') }}">Created</a></li>
   </ul>
   </div>
<br>
<br>

<p align="middle">
       {% if memberoflist %}
       {% for List in memberoflist %}
		<p align="middle">
       	<b style="text-decoration:none">
		{{ List}}</b><br>
		<hr>
		</p>
         {% endfor %}
         {%else%}
         <p align="middle">You aren't listed yet.</p>
         {% endif%}
     </p>
<br>
<br>
</div>

  </body>
  {% endblock %}