{% extends "layout.html" %}
{% block title %}Member Of Lists{% endblock %}
{% block content %}
  <body>
	<br>
	<br>

   <div>
   <ul id="listoflisttitles">
   	<li><a href="{{ url_for('subscribelists_page') }}">Subscribed to</a></li>
   	<li style:"color:#FFFF;">Member of </li>

   </ul>
   </div>
<br>
<br>

<p align="middle">
        {% for list_id, list in memberoflist %}
		<p align="middle">
       	<b style="text-decoration:none">
		{{ list.name }}</b><br>
		<hr>
		</p>
         {% endfor %}
     </p>
<br>
<br>
</div>

  </body>
  {% endblock %}