<!DOCTYPE html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<title>Itucsdb1616 - Member Of Lists</title>
<html>
{% extends "layout.html" %}
{% block title %}Add Tweet{% endblock %}
{% block content %}
  <body>
	<br>
	<br>

   <div>
   <ul id="listoflisttitles">
   	<li><a href="{{ url_for('site.subscribelists_page') }}">Subscribed to</a></li>
   	<li style:"color:#FFFF;">Member of </li>

   </ul>
   </div>
<br>
<br>

<p align="middle">
        {% for list_id, list in memberoflist %}
		<p align="middle">
       	<b style="text-decoration:none">
		{{ list.name }}</b><br>
		<hr>
		</p>
         {% endfor %}
     </p>
<br>
<br>
</div>

  </body>
  {% endblock %}
</html>