{% extends "layout.html" %}
{% block title %}Message{% endblock %}
{% block content %}
      <div class="page-header">

      {% for message_id, message in messages %}
        <h1>{{ message.sender }}</h1>
      </div>
      <body>
		{{message.content }}<br><br>

		{% endfor %}

		<form role="form" action="" method="post" name="message-form">

      <input type="text" name="content" size ="25" placeholder="write your message here" required autofocus/>
            <button type="submit" name="send"
                    class="sendButton">Send</button>
        </body>
        </form>
{% endblock %}
