{% extends "layout.html" %}
{% block title %}Messages{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Direct Messages</h1>
      </div>
		 <div class ="col-sm-2" role="form" action="" method="post">
		 <a href="{{ url_for('new_message_page') }}"style="text-decoration:none">
		 <button type="submit"
                class="btn btn-lg btn-primary btn-block">New Message</button></a>
                </div>
                <form <a href="{{ url_for('messages_page') }}role="form" method="post">
                <div class ="col-sm-2" role="form" action="" method="post">
		 <button type="submit"
                class="btn btn-lg btn-primary btn-block">Delete Message</button></a>
                </div>
                <br><br><hr>
        {% for message_id, message in messages %}
        <div>
       	<p align="left">
       	<b><a href="{{ url_for('message_page') }}"style="text-decoration:none">
		{% if message.sender == current_user.username %}
		<input type="checkbox" name="message" value="{{message_id}}"> {{message.reciever}} </a></b><br>
		 &#x21E1;{% endif %}
		 {% if message.sender != current_user.username %} <input type="checkbox" name="message" value="{{message_id}}"> {{message.sender}} </a></b><br>{% endif %}
		  {{message.content }}<hr>
		</p>
		</div>
         {% endfor %}
				</form>
     </p>

{% endblock %}



