{% extends "layout.html" %}
{% block title %}Message{% endblock %}
{% block content %}

	<form role="form" action="" method="post" name="message-form">
      <select class="form-control" name="reciever" style="font-family: Georgia; width:auto">
        	{%for (username,) in users%}
				<option value={{username}}>{{username}}</option>
			{% endfor %}
		</select><br>
      <input class="form-control" type="text" name="content" size ="25" placeholder="write your message here" required autofocus/>
            <br>
            <button type="submit" name="send"
                    class="btn btn-primary btn-success">Send</button>
        </form>
{% endblock %}
