{% extends "layout.html" %}
{% block title %}Photo{% endblock %}
{% block content %}

	<form role="form" action="" method="post" name="photo">
      <input type="text" class="form-control" name="content" size ="25" placeholder="write a description for photo" required autofocus/>
		<br>
      <input type="text" class="form-control" name="url" size ="25" placeholder="type url of your photo" required autofocus/>
      <br>
      <button type="submit"
                class="btn btn-primary btn-success">Add</button>

        </form>
        <br>
{% endblock %}