{% extends "layout.html" %}
{% block title %}Poll{% endblock %}
{% block content %}
<body>
<p align="center"><strong>{{pollquestion}} </strong></p>

<br>
{%if choices %}
<form method="post" align="center" name="vote-form">
<div>
<div><strong>Choices</strong></div>
<div style="clear:both;height:4px;"></div>

        {% for choice,numberofvotes in choices %}
 {%if isVoted==0%}
<input type="radio" name="answer" value="{{choice}}">
<label>{{choice}}</label>
</input>
{%else%}
<label>{{choice}}</label>
{%endif%}
<label>({{numberofvotes}} users voted)</label>
<br>
{% endfor %}
<div style="clear:both;height:2px;">
</div>
<div style="clear:both;height:2px;"></div>
<div align="center" style="padding:3px;">
 {%if isVoted==0%}
<button type="submit" name="submit"value="vote">Vote</button>
{%else%}
<label>You have voted for this poll</label>
{%endif%}
</div></div></form>
 {%else%}
         <p align="middle">There are no choices in this poll</p>
         {%endif%}

</body>

 {% endblock %}