{% extends "layout.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
	<div class="page-header">
        <h1>Quiz</h1>
        <h2>Total points: {{points}}</h2>
      </div>
      <div role="form" action="" method="post" name="sendquestion">
       <a href="{{ url_for('sendquestion_page') }}"style="text-decoration:none">
      <button type="submit" name="send"
                 class="btn btn-primary">Send Question</button></a>
      </div>
      <br><br>
      <form role="form" action="" method="post">
      <div>
      {% for id, content, isanswered, optionid, choice, correctness in quiz %}
      {%if isanswered==False%}
      {%if optionid % 4 == 1%}
      {{content}}<br>
      {%endif%}
      <input type="radio" name="{{id}}" value="{{optionid}}" id="{{optionid}}">
      {{choice}}<br>
      {%if optionid % 4 == 0%}
      <br><br>
      {%endif%}
      {%endif%}
      {% endfor %}
      </div>
      <div>
      <button type="submit" name ="operation" value="send"
                class="btn btn-primary btn-success">Submit</button>
      <button type="submit" name ="operation" value="delete"
                class="btn btn-primary btn-danger">Clear All Questions</button>
      </div>
      <br>
      </form>


{% endblock %}