{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<body>

  <form >
<fieldset>

<legend>Main Settings</legend>
  <div >
    <label>E-mail</label>
    <input id="email" name="email" type="text" placeholder="example@mail.com" >

  </div>

  <div>
    <label>Language</label>
      <select  name="Country">
        <option value="1">Turkiye</option>
        <option value="2">US</option>
        <option value="">UK</option>
        <option value="">Sweden</option>
        <option value="">Morocco</option>
      </select>
  </div>

  <div>
    <label>Update Password</label>
    <div>
    <input  name="password" type="password" placeholder="password">
    <input  name="password2" type="password" placeholder="again">
    <button  name="btn_register" type="submit"> Update </button>
    </div>
  </div>

</fieldset>
</form>


    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
    {% endblock %}
</body>
