{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<body>

<form role="form" action="" method="post">

<fieldset>
<legend>Main Settings</legend>
  <div >
    <label>E-mail</label>
    <input id="email" name="email" type="text" placeholder="example@mail.com" >

  </div>

  <div>
    <label>Language</label>
      <select  name="Language">
        <option value="Turkiye">Turkish</option>
        <option value="US">English</option>
        <option value="Italiano">Italiano</option>
        <option value="Hrvatski">Hrvatski</option>
        <option value="Espanol">Espanol</option>
      </select>
  </div>
  <div>
    <label>Update Password</label>
    <div>
    <input  name="nickname" type="text" placeholder="nickname">
    <input  name="name" type="text" placeholder="name">
    <input  name="surname" type="text" placeholder="surname">
    <button  name="btn" value="update" type="submit"> Update </button>
    </div>
  </div>

</fieldset>



    <button  name="btn" value="show" type="submit"> Show Settings </button>
    <button  name="btn" value="delete" type="submit"> Reset Settings </button>

<table class="table table-bordered" border='1'>

<tr>
	{% for line in table %}
			<td> {{ line }} </td>
	{% endfor %}
	</tr>

</table>
</form>

    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
    {% endblock %}
</body>
