<!DOCTYPE html>
    <link rel="stylesheet"  href="{{ url_for('static', filename='listpage.css') }}"  />
	<title>Itucsdb1616 -Subscribe Lists</title>
<html>

 <header>
      <nav>
      <ul id="menulist">
  		<li><a class="active" href="{{ url_for('site.home_page') }}">Home</a></li>
  		<li><a href="{{ url_for('site.twit_page') }}">My Tweets</a></li>
  		<li><a href="{{ url_for('site.twit_add_page') }}">Post a Tweet</a></li>
  		<li><a href="{{ url_for('site.settings_page') }}">Settings</a></li>
  		<li><a href="{{ url_for('site.subscribelists_page') }}">Lists</a></li>
  		<li><a href="#contact">Contact</a></li>
 	 	<li><a href="#about">About</a></li>
	</ul>


      </nav>
    </header>
  <body>
	<br>
	<br>

   <ul id="listoflisttitles">
   	<li>Subscribed to</li>
   	<li> <a href="{{ url_for('site.memberlists_page') }}">Member of </a> </li>

   </ul>
<br>
<br>

<ul id="all_of_the_lists_subscribed_or_member_of">
<li>First list</li>
<li> Second list</li>
<li> Third list</li>

<br>
<br>
</div>

  </body>
</html>