{% extends "layout.html" %}
{% block title %}Subscribed Lists{% endblock %}
{% block content %}
  <body>
	<br>
	<br>

   <div>
   <ul id="listoflisttitles">
   	<li>Subscribed to</li>
   	<li style:"color:#FFFF;"><a href="{{ url_for('memberoflists_page') }}">Member of </a></li>

   </ul>
   </div>
<br>
<br>

<p align="middle">
        {% for list_id, list in subscribedlist %}
		<p align="middle">
       	<b style="text-decoration:none">
		{{ list.name }}</b><br>
		<hr>
		</p>
         {% endfor %}
     </p>
<br>
<br>
</div>

  </body>
  {% endblock %}