{% extends "layout.html" %}
{% block title %}Tag!{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Tag!</h1>
      </div>
      <form role="form" action="" method="post">
      <div class ="col-sm-2">
      <button type="submit" name ="operation" value="tag"
                class="btn btn-lg btn-primary btn-block">Tag!</button>
      </div>
      <br><br><hr>
<input type="text" name="tag" size ="25" placeholder="tag someone" autofocus/><br>
      {% for photo_id, media in media %}
       <br><br><hr>
      <input type="radio" name="media" value="{{photo_id}}" id="{{photo_id}}">
		{{media.description}}<br>

		<a href="{{media.url}}">
		<img src="{{media.url}}" style="width:200px;height:200px;"></a>

      {% endfor %}
      </form>


{% endblock %}