  {% extends "layout.html" %}
  {% block title %}My twits{% endblock %}
    {% block content %}

<style>
#twittit{
	padding-top: 10px;
}

#twitcon{
	width: 300px;
	word-wrap: break-word;
}

#twitwrapper{
	display:inline-block;
	border-radius: 35px;
    padding: 10px;
    background: #3d3d5c;
    width: 350px;
}

#twitwrapperrt{
	display:inline-block;
	border-radius: 35px;
    padding: 10px;
    background: #29293d;
    width: 350px;
}
</style>


  <body>
    <h2	style="padding-bottom: 15px;">Welcome to Your Tweets</h2>

    <div class="page-header">
        <h3>Post A Tweet</h3>
      </div>

      <form role="form" action="" method="post" name="add_twit"
            class="form-horizontal">
        <div class="form-group">
          <label for="title" class="control-label col-sm-1">Title:</label>
          <div class="col-sm-10">
            <input type="text" maxlength="20" name="title" size="20" required autofocus />
          </div>
        </div>

        <div class="form-group">
          <label for="content" class="control-label col-sm-1">Content:</label>
          <div class="col-sm-10">
            <input type="text" name="content" maxlength="45" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" name="save"
                    class="btn btn-primary">Add Tweet</button>
          </div>
        </div>
      </form>

	<div class="page-header">
        <h3>Here is Your Tweets</h3>
      </div>

		{% for twit in twits %}

        {% if twit.isrt == 0%}

		<div id="twitwrapper">
		<h4>
		<a d="twittit"; style="color: black" style="text-decoration: none" href="{{ url_for('twits_page', twit_id=twit.twitid ) }}">
		{{ twit.title }}</a>
		<a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twit.userhandle ) }}">
		<font size="1">-{{ twit.userhandle }}</font></a><br>
		<font size="4" style="color: grey" id="twitcon"> {{ twit.context }}</font><br>
		<font size="2">Likes({{ twit.numberoflikes }})</font>&nbsp&nbsp<font size="2">RT({{ twit.numberofrts }})</font>
		</h4>
		</div>
		<br><br>

		{% else %}
		<div id="twitwrapperrt">
		<font size="2">This is a RT From
		<a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twit.userhandle ) }}">
	 	{{twit.userhandle}}</font></a>
		<h4>
		<a d="twittit"; style="color: black" style="text-decoration: none" href="{{ url_for('twits_page', twit_id=twit.twitid ) }}">
		{{ twit.title }}</a>
		<a style="color: black" style="text-decoration: none" href="{{ url_for('profile_page', usrhandle=twit.rtowner ) }}">
		<font size="1">-{{ twit.rtowner }}</font></a><br>
		<font size="4" style="color: grey" id="twitcon"> {{ twit.context }}</font><br>
		<font size="2">Likes({{ twit.numberoflikes }})</font>&nbsp&nbsp<font size="2">RT({{ twit.numberofrts }})</font>
		</h4>
		</div>
		<br><br>

		{% endif %}
		{% endfor %}
  </body>
  {% endblock %}