  {% extends "layout.html" %}
  {% block title %}My twits{% endblock %}
    {% block content %}
  <body>

    <h1>Welcome to My Tweets</h1>

    {% if twits %}
      <p align="left">
        {% for twit_id, twit in twits %}
       	<p align="left">
       	<a href="{{ url_for('site.twit_page', twit_id=twit_id) }}">
		{{ twit.title }}</a><br>
		{{ twit.content }}
		</p>
         {% endfor %}
      {% endif %}
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
  {% endblock %}