{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>{{ twits.title }}</h1>
      </div>
      <body>
		{{ twits.content }}<br><br>

		<form role="form" action="" method="post" name="twit-form">

      <input type="text" name="title" size ="15" placeholder="Updated Title" required autofocus/>
      <p>
      <input type="text" name="context" size ="20" placeholder="Context"/>
      <input type="text" name="linked" size ="20" placeholder="Link"/>
      <input type="text" name="tweetid" size ="10" placeholder="ID"/>
      </p>
      <p>
            <button type="submit" name="submit" value="update">Update Tweet</button>
            <button type="submit" name="submit" value="delete">Delete Tweet!</button>
            <button type="submit" name="submit" value="addlink">Add Link</button>
            <button type="submit" name="submit" value="updatelink">Update Link</button>
            <button type="submit" name="submit" value="deletelink">Delete Link!</button>
			<button type="submit" name="submit" value="retweet">ReTweet</button>
			<button type="submit" name="submit" value="liketweet">Like</button>

                    </p>
        </body>
        </form>
{% endblock %}