{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>{{ twits.title }}</h1>
      </div>
      <body>
		{{ twits.content }}<br><br>

		<form role="form" action="" method="post" name="twit-form">

      <input type="text" name="title" size ="15" placeholder="Updated Title" required autofocus/>
      <p>
      <input type="text" name="context" size ="20" placeholder="Context"/>
      <input type="text" name="tweetid" size ="10" placeholder="ID"/>
      </p>
      <p>
            <button type="submit" name="submit" value="update">Update</button>
                    <button type="submit" name="submit" value="delete">Delete Twit!</button>
                    </p>
        </body>
        </form>
{% endblock %}
