{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}
{% block content %}
<style>
#twittit{
	padding-bottom: 10px;
	width: 150px;
	height: 20px;
}

#twitcon{
	padding-bottom: 24px;
	width: 425px;
	height: 20px;
	word-wrap: break-word;
}

</style>
<body>
		<font size="1">{{ twits.twitid }}</font>
       	<id="twittit"> <font size="5"> {{ twits.title }}</font><font size="1">-{{ twits.userhandle }}</font><br>
		<id="twitcon"> <font size="3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ twits.context }}</font><br><br>
		<a style="color: black" style="text-decoration: none" href="{{ url_for('links_page', twit_id=twits.twitid ) }}"> Tweet Links </a>
		<br>



		<form novalidate="novalidate" role="form" action="" method="post" name="twit-form">

      <input type="text" formnovalidate name="title" size ="15" placeholder="Updated Title" required autofocus/>
      <input type="text" formnovalidate name="context" size ="20" placeholder="Context"/>
        <br><button type="submit" name="submit" value="update">Update Tweet</button>
            <button type="submit" name="submit" value="delete">Delete Tweet!</button>
			<button type="submit" name="submit" value="retweet">ReTweet</button>
			{%if isTweetLiked==1%}
			<button type="submit" name="submit" value="unliketweet">Unlike</button>
			{%else%}
			<button type="submit" name="submit" value="liketweet">Like</button>
			{%endif%}
        </form>
        </body>
{% endblock %}